<!DOCTYPE html>
<html>
<head>
    <title>Valentine Week 💘</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>💖 Valentine Week Special 💖</h1>
<p>Welcome baby, ek ek din surprise milega 😏</p>

<div class="days">
    <a href="/rose">🌹 Rose Day</a>
    <a href="/propose">💍 Propose Day</a>
    <a href="/chocolate">🍫 Chocolate Day</a>
    <a href="/teddy">🧸 Teddy Day</a>
    <a href="/promise">🤞 Promise Day</a>
    <a href="/hug">🤗 Hug Day</a>
    <a href="/kiss">💋 Kiss Day</a>
</div>

</body>
</html>
